html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
  background-color: #6d435a;
  color: #fffcf9;
}

* {
  box-sizing: border-box;
}

a {
  color: #b1ede8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
